# Introduction to Programming using Python

# The print function

In [6]:
print('Welcome to programming  !')
print("Programing is fun ! ")

Welcome to programming  !
Programing is fun !

Hey this is my programing class ! 
I can put my own notes

In [7]:
print(41)

41

my comments

#### print() is  a function. The print function outputs anything you put in within brackets to the screen. 
- When printing characters always start and end with quotation marks. It can be ' or ". Always start and end with the same type of quotation mark.
- Number can be printed without quotation marks.

### Comments

- As programs get bigger and more complicated, they get more difficult to read.
- It is often difficult to look at a piece of code and figure out what it is doing, or why.
- For this reason, it is a good idea to add notes to your programs to explain what the program is doing.
- A comment in a computer program is intended only for the human reader â€” it is completely ignored by the interpreter.
- In Python, the # token starts a comment. The rest of the line is ignored. Here is a new version of Hello, World!.

In [8]:
#---------------------------------------------------
# This is a demo program written in October 2019
# Anyone may freely copy or modify this program.
#---------------------------------------------------

print("Hello, World!")     # I wrote my first program. Isn't this easy!

Hello, World!

### Using Python as a calculator

You can try the following operators:

| Operator | Description |
| :------: | :---------: |
| +        |Addition|
| -        |Subtraction|
| *        |Multiplication|
| /        |Division|
| %        |Modulus|
| **       |Exponent|
| //       |Floor Division|

#### Lets try some simple statements in python

In [12]:

print(2 + 2)
print(50 - 5*6)

print((50 - 5*6) / 4)
print(8 / 5) # division always returns a floating point number

4
20
5.0
1.6

In [13]:
a=31
b=21
d=a+b
print(d)

52

In [16]:
print(17 / 3)  # classic division returns a float.
print(17 // 3)  # floor division discards the fractional part and returns an integer.
print(17 % 3)  # the % print(2 ** 7)  
#operator returns the remainder of the division. Output is an integer.

5.666666666666667
5
2

In [18]:
print(5 ** 2)  # 5 squared
print(2 ** 7)  # 2 to the power of 7
print(4**(1/2)) # the squareroot of 4. Notice that the result is a float.

25
128
2.0

### Numbers in Python

- There are two basic types of numbers in python viz., <b>Int & Float</b>
- <b>Int is used to store integers. </b>
- <b>Float is used to store numbers with decimal points. </b>
- The type() function can be used to know the kind of number you are dealing with.

In [19]:
#type(55)
a=10
type(a)

int

In [20]:
b=12.34
type(b)

float

### Variables

##### Variables are names given to data.
##### There are certain rules and conventions to follow when choosing a name for a variable.

- Variable names can be arbitrarily long.
- They can contain both letters and digits, but they have to <b>begin with a letter or an underscore.</b>
- Although it is allowed, <b>it is not good practice to begin variable names with uppercase letters.</b>
- <b>Do not begin a variable with an underscore</b> as they have a special meaning. So a safe rule for beginners is to <b>start all names with a letter.</b>
- The <b>underscore character can appear in a name.</b> It is often used in names with multiple words, eg: <b>price_of_tea_in_china</b>.
- <b>If you give a variable an illegal name, you get a syntax error.</b>

In [26]:
a=10
b=20
s=a+b
print(s)

30

##### '=' is the assignment operator. a = 10 assigns the name 'a' to the value 10.

Given below is a list of names which are reserved in Python and <b>cannot be used as variable names</b>. They called  keywords or identifiers.

#### Reserved keywords in Python

| _ | _ | _ |
|:---:|:---:|---:|
|False|class|finally|
|is|return|None|
|continue|for|lambda|
|try|True|def|
|from| nonlocal| while|
|and|del|global|
|not|with|as|
|elif|if|or|
|yield|assert|else|
|import|pass|break|
|except|in|raise|

In [30]:
del= 10

SyntaxError: invalid syntax (<ipython-input-30-ce45c7caa14f>, line 1)

#### Logical operations in Python:

|Operator|Description|
|:---:|:---:|
|==|Equal to|
|!=|Not Equal to|
|>|Greater than|
|<|Less Than|
|>=|Greater than or equal to|
|<=|Less than or equal to|

In [33]:
x = 505
y = 500
print(x == y)

False

In [36]:
a = 100
b = 100
print(a != b)
print(a >= b)
print(a <= b)

False
True
True

- We have seen the two basic numeric types.
- Python also has logical types.
- This type of data is called Boolean.
- The two possible Boolean values viz., <b> True & False. </b>

In [35]:
type(a!=b)

bool

### Strings

In [9]:
word = 'Hello Dubai'

# Let us try the type function with some text
print(type(word))
print(word)

<class 'str'>
Hello Dubai

In [10]:
print(word)

Hello Dubai

##### Strings are use to to store character sequences. 
- 'Python' is a string of length 6.
- Strings always start and end with quotation marks. It can be ' or ". Always start and end with the same type of quotation mark.
- Strings have an index which tells you the position of each character.
- A string can be indexed forwards and backwards.

Take the string 'python'

|p|y|t|h|o|n|
|:---:|:---:|:---:|:---:|:---:|:---:|
|0|1|2|3|4|5|
|-6|-5|-4|-3|-2|-1|

- Indexing starts from 0.
- len() function is used find the length of a sequence.

##### string1 = "Data Science" # string1 is a variable of the type string
string2 = "is interesting" 
print(len(string1))     # Prints length of the string
print(string1)          # Prints complete string
print(string1[0])       # Prints first character of the string1
print(string1[-12])      # will print same as above statement 
print(string1[4:7])     # Prints characters starting from 4th to 6th
print(string1[3:])      # Prints string starting from 4th character
print(string1[1:-2])    # Prints from second character to the second last character .
print(string1 * 3)      # Prints string three times
print(string1 +" "+ string2) # Two strings can be concatenated using the '+' operator.

In [19]:
string1[3:6]

'a S'

### Other sequences in python
### Lists
- A list can store a sequence of objects.
- These objects can be of various types.\

In [48]:
mylist = ["Hello",12,"world",11.111,'Me2'] # A list can have both strings and numbers
print(mylist)
type(mylist)

['Hello', 12, 'world', 11.111, 'Me2']

list

##### Lists can be indexed in the same way as strings

In [50]:
print(mylist[0])
print(mylist[1:3])
print(mylist[-1])

Hello
[12, 'world']
Me2

In [51]:
mydata = mylist[0]
print(len(mydata))

5

##### Lists can be concatenated like strings

In [52]:
a=[1,2,3,4]
b=['A','B','C']
c=['A',500,'C']

In [53]:
b + c

['A', 'B', 'C', 'A', 500, 'C']

In [62]:
abc=a + b + c
print(abc)
type(abc)

[1, 2, 3, 4, 'A', 'B', 'C', 'A', 500, 'C']

list

In [59]:
abc[1]=20
abc

[1, 20, 3, 4, 'A', 'B', 'C', 'A', 500, 'C']

### Tuples 
##### They are very similar to lists

In [25]:
mytup = ( 'welcome', 21.223, "hello world", 70.2  )
type(mytup)

tuple

In [20]:
simple_tuple = (1,2, 'bag', 'basket')

In [21]:
simple_tuple

(1, 2, 'bag', 'basket')

In [32]:
new = mytup + simple_tuple
type(new)
new[0]

'welcome'

In [27]:
mytup[1]

21.223

##### How are lists and tuples different?
 - Elements in a tuple cannot be edited once assigned.
 - A tuple cannot be appended to or extended in anyway.
 - A tuple is immutable. 
 - Lists are mutable.
 - You can expand lists to include more objects.
 - Tuples are indexed similar to lists

In [64]:
print(mytup[0])
print(mytup[1:4])
print(mytup[-3])

welcome
(21.223, 'hello world', 70.2)
21.223

### Dictionaries

- A dictionary is a type of collection which consists of key, value pairs.
- The keys and values can be of any type.
- A dictionary is indexed through the keys.

In [69]:
ex_di={'JJ':'jackson','DD':50,'EE':44, '007':"James Bond"}
print(ex_di)
print(ex_di['007']) # a dictionary is indexed through the assigned keys

{'JJ': 'jackson', 'DD': 50, 'EE': 44, '007': 'James Bond'}
James Bond

In [37]:
my_dictionary = {'Apple': [10,23,45] , 'Banana' : 15, 'Orange' : 25}
my_dictionary

len(my_dictionary)
my_dictionary['Apple'][0]

10

In [41]:
my_dictionary['Banana'] = [1,14,13]
type(my_dictionary['Banana'])

list

In [45]:
type(my_dictionary['Orange'])

print('There are', my_dictionary['Orange'], 'oranges')

There are 25 oranges

In [43]:
ex_di={'AA':50,'BB':90,'CC':20}
print(ex_di)
print(ex_di['CC'])

{'AA': 50, 'BB': 90, 'CC': 20}
20

In [72]:
print("007 is ",ex_di['007'])

007 is  James Bond

In [ ]:
ex_di.

#### More on lists

In [74]:
mylist = ['Bangalore', 'Delhi', 'Chennai', 2000, 3400.56, "Cool"]
len(mylist) # returns the length of the list

6

**Q1. (In class exercise)** Print the last element of the list

In [83]:
mylist[-1]

'Cool'

In [85]:
print(mylist[-2])

3400.56

##### Removing items from a list

An object can be removed from a list by using del() function.

In [86]:
del(mylist[5])
print(mylist)

['Bangalore', 'Delhi', 'Chennai', 2000, 3400.56]

A list has builtin methods to remove elements.

In [47]:
newlist = ["Hello",2,3,2,'world',2,'world']
newlist.remove('world')
print(newlist)

['Hello', 2, 3, 2, 2, 'world']

In [48]:
newlist.remove('world')
print(newlist)

['Hello', 2, 3, 2, 2]

In [55]:
newlist.reverse()

In [62]:
newlist.remove(2)

In [63]:
newlist

['Hello', 3]

**Note:** Only the first matching entry is removed

##### Join two lists

- Two lists can be joined using the '+' operator.
- This is also called concatenation.

In [64]:
l1 = [1,2,3,1,3,3,3]
l2 =['a','b','a','a']
l3 = l1+l2
print(l3)

[1, 2, 3, 1, 3, 3, 3, 'a', 'b', 'a', 'a']

##### Checking for an element in the list

In [65]:
k=5
k in l3 # the 'in' statement checks whether an element is prmesent in the list.

False

In [66]:
l3.count('a')

3

In [ ]:
l3.

##### Max and min

We can check the maximum and minimum value in a list by using the max() and min() functions.

In [68]:
l1=[1,2,3]
print(max(l1))
print(min(l1))
print(sum(l1))

3
1
6

**NOTE:** The max() and min() functions will not work for strings in a list. It will only consider the numeric data.

##### The .pop() method
The .pop() method moves and element out of the list.

In [96]:
l1 = [1,2,3,4]
res=l1.pop(2) # here the argument refers to the positional value
print(l1)
print("The popped out item from the list is ",res)

[1, 2, 4]
The popped out item from the list is  3

# To know the difference between pop, del and remove, read the below link ! 
https://stackoverflow.com/questions/11520492/difference-between-del-remove-and-pop-on-lists

##### Inserting a new value into a list

In [69]:
l1 = [1,'b',3,4,'x']
l1.insert(1,101) #101 will be inserted into the first position of the list and 
print(l1)

[1, 101, 'b', 3, 4, 'x']

##### Appending an element to a list 
Append adds an element to the end of a list

In [99]:
l1 = [1,2,3,4]
l1.append(500)
print(l1)

[1, 2, 3, 4, 500]

##### Sorting a list
Lists have a sort method which reorders the list based on the values it contains.

In [101]:
l2=[23,1,0,45,-1]
l2.sort()
print(l2)

[-1, 0, 1, 23, 45]

Python also has a function sorted() which can sort the elements of a list.

In [102]:
l2=[23,1,0,45,-1]
print(sorted(l2))
print(l2)

[-1, 0, 1, 23, 45]
[23, 1, 0, 45, -1]

# Note :There is a difference between the sort() and sorted() function !

### Conditional statements
- if, else and elif

In [1]:
a = 10
b = 33
if ( a == 10 and b == 30) : 
    print("Value of a is ",a)
    print("Inside the if block")
else : 
    print("Value of a is ",a)
    print("Inside the else block")
    
print("I am done with my if and else")

Value of a is  10
Inside the else block
I am done with my if and else

In [8]:
age = 39
qualification = "UG"
maritial_status = "unmarried" 






if(age < 35 and qualification == "PG" and maritial_status == "married"):
    print("you qualify for Australian immigration")


elif(qualification == 'UG'):
    print("You are underqualified to immigrate to Australia due to UG")

    
    
elif(age > 35 or qualification == 'UG'):
    print('*************')
    if(age > 35 and qualification != 'PG'):
        print("both age bar and underqualified")
        

        

elif(maritial_status != "married"):
    print("You have failed the maritial qualification, no eligible for immigration") 
    
print(" I am out of all if , elif and else blocks")

You are underqualified to immigrate to Australia due to UG
 I am out of all if , elif and else blocks