## Looping in Python

### The For loop

In [3]:
mynames = ["Joe","Zoe","Brad","Angelina","Zuki","Tom","Paris"]
len(mynames)

7

In [2]:
print(mynames[0])
print(mynames[1])

Joe
Zoe

In [6]:
mynames = ["Joe","Zoe","Brad","Angelina","Zuki","Tom","Paris"]
for name in mynames :
    invite = "Hi " + name + ", Good morning ! "
    print(invite)

Hi Joe, Good morning !
Hi Zoe, Good morning !
Hi Brad, Good morning !
Hi Angelina, Good morning !
Hi Zuki, Good morning !
Hi Tom, Good morning !
Hi Paris, Good morning !

In [9]:
for name in mynames:
    print("Hi" + " " + name + ", Good morning!")

Hi Joe, Good morning!
Hi Zoe, Good morning!
Hi Brad, Good morning!
Hi Angelina, Good morning!
Hi Zuki, Good morning!
Hi Tom, Good morning!
Hi Paris, Good morning!

In [2]:
l2=[23,1,0,12,45,-1,46]

for x in l2 :
    print(x)

print("I am done with my for loop")

23
1
0
12
45
-1
46
I am done with my for loop

In [3]:
for x in l2:
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [10]:
for x in mynames:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [4]:
# The following code snippet is to check if a number is divisible by 2.
a = 100 # try different values for a
if(a % 2 == 0) :   # checks if the remainder is zero when divided by 2 
    print(a," is even number")
else:
    print(a," is odd number")

100  is even number

In [21]:
a = 100

In [17]:
a == 100

True

**Q1.(In class lab exercise)** Write a modified version of the code given above so that a message is printed only if the number is even.

In [22]:
if (a%2 == 0):
    print(a, 'is even number')

100 is even number

In [31]:
el =[]
myl = [1,2,3,4,5,6,7,8,10]
count = 0

for x in myl :
    if(x %2 != 0):
        el.append(x)
        count =  count + 1
        print(x, 'has been added to the list')
print(el)
print(count)

1 has been added to the list
3 has been added to the list
5 has been added to the list
7 has been added to the list
[1, 3, 5, 7]
4

In [33]:
print(myl)
count = 0 
for num in myl:
    if(num % 2 == 0):
         count=count + 1 

print("The total number of even nos is ",count)

[1, 2, 3, 4, 5, 6, 7, 8, 10]
The total number of even nos is  5

**Q2. (In class lab exercise)** Modify the *if* condition in the code given using the '!=' operator and print if a number is odd.

In [9]:
print(myl)
#count = 0 
for num in myl:
    if(num % 2 != 0):
         #count=count + 1
        print(num)

#print("The total number of even nos is ",count)

[1, 2, 3, 4, 5, 6, 7, 8, 10]
1
3
5
7

### Breaking out of a loop
The break statement can be used to halt and exit a loop

In [16]:
count = 0 
myl = [1,2,3,4,5,6,7,8]
for x in myl: 
    print("Hello world")
    if(x%2==0):
        count=count+1
    if(count==2):
        break #Break statement will exit the loop block even though the loop can run 8 times
print("I have exited the loop")

Hello world
Hello world
Hello world
Hello world
I have exited the loop

In [19]:
# Write a program to print only the first 2 even numbers in the list 

count = 0 
myl = [1,2,3,4,5,6,7,8]
for x in myl: 
    if(x%2==0):
        count=count+1
        print(x)
    if(count==2):
        break #Break statement will exit the loop block even though the loop can run 8 times

2
4

In [35]:
newlist = []
count = 0 
data = list(range(1,30))
print(data)
for x in data: 
    if(x%2==0):
        count = count+1
        newlist.append(x)
        #outside the if block but inside the for block
    if(count==5):
        break
    
    
print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[2, 4, 6, 8, 10]

In [34]:
data = list(range(1,30))
type(data)

list

**Q3.(In class lab exercise)** Modify the above program to print the first 2 even numbers from the list .

In [3]:
count = 0 
myl = [1,2,3,4,5,6,7,8]
for x in myl: 
    
    if(x%2==0):
        count=count+1
        print(x)
        
    if(count==2):
        break #Break statement will exit the loop block even though the loop can run 8 times
print("I have exited the loop")

2
4
I have exited the loop

**Q4.(In class lab exercise)** Pick the first 2 even numbers and last 2 odd numbers from the list "myl" and store the numbers in a new list and display the new list contents seperately to the user (Hint: Use append() function to add elements to a list)

In [6]:
myl[-1]

8

**Q5.(In class lab exercise)** Print the last 2 odd numbers from the list myl (Note: Do not reverse the list or use a new list)

In [38]:
start =  1 
count =  0 
while(count<10):
    if(start%2 == 0):
        print(start)
        count=count+1
        
        
    start=start+1

2
4
6
8
10
12
14
16
18
20

### The while loop

In [40]:
# Print "Hello world" 10 times 
count = 1
while(count <=10) :
    print("hello world")
    count = count + 1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [2]:
# Print the first 25 multiple of 7 numbers 

count = 0 
start = 1
while(count<=25):
    if(start%7==0):
        count=count+1
        print(start)
        
    start = start + 1

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182

**Q6.(In class lab exercise)** What is the significance of incrementing the count variable? What will happen if you ignore this step?

In [ ]:
The significance of increamenting the count variable, it will iterate the loop and would not count further

In [23]:
start = 555
end = 777
while(start <= end):
    
    if(start%2==0):
        print(start)
    
    #inside the while block but outside the if block 
    start=start+1

556
558
560
562
564
566
568
570
572
574
576
578
580
582
584
586
588
590
592
594
596
598
600
602
604
606
608
610
612
614
616
618
620
622
624
626
628
630
632
634
636
638
640
642
644
646
648
650
652
654
656
658
660
662
664
666
668
670
672
674
676
678
680
682
684
686
688
690
692
694
696
698
700
702
704
706
708
710
712
714
716
718
720
722
724
726
728
730
732
734
736
738
740
742
744
746
748
750
752
754
756
758
760
762
764
766
768
770
772
774
776

**Q7.(In class lab exercise)** Modify the above program to print hello world only 5 times , without changing the while(count<= 10)

In [5]:
count = 1
start = 1
while(count <=10) :
    if count%2==0:
        print("hello world")
    count=count+1
    #start = start + 1

hello world
hello world
hello world
hello world
hello world

**Q8.(In class lab exercise)** Write a program to print the first 10 odd numbers

In [20]:
count = 1
start = 0

while (count<=10):
    if (start%2 != 0):
        print(start)
        count = count + 1
    start = start + 1

1
3
5
7
9
11
13
15
17
19

In [8]:
mydata = [1,2,3,4]
mysum = 0 
for x in mydata:
   mysum=mysum+x
 
print(mysum)

10

**Q9.(In class lab exercise)** Write a a program to find the sum of first 50 natural numbers starting from 1

In [9]:
start = 1
count = 0 
mysum = 0 
while(count < 50):
    mysum=mysum+start
    start=start+1
    count=count+1
    
print(mysum)

1275

**Q10.** (In class lab exercise) Write a program to to find the sum of all the numbers between 555 and 1111 which are divisible by 7

In [17]:
start = 555
end = 1111
mysum = 0
while(start <= end):
    if(start%7==0):
        mysum = mysum+start
    
    #inside the while block but outside the if block 
    start=start+1
print(mysum)

65807

**Q12.(TAKE HOME EXERCISE)** Write a program to compute the sum of squares of first 10 natural numbers

In [7]:
sm =0 
start = 1 
end = 10
mysum = 0
while(start<=end):
    
    mysum=mysum+(start**2)
    
    start=start+1
    
print(mysum)

385

**Q13 (TAKE HOME EXERCISE)** Write a program to print the sum of squares of all the even numbers between 334 and 667

In [10]:

start = 334
end = 667
ssum = 0 
while(start <=  end):
    if(start%2==0):
        e=start*start
        ssum = ssum+e
        
    start=start+1
    
    
    
    
print("sum=",ssum)

sum= 43302432

In [24]:
data=[1,2,3,4,5,6,7,8,9,10]
let = len(data)

print(data[-1])

10

In [27]:
start = -1
end = -let
while(start>=end):
    print(data[start])
    start=start-1

10
9
8
7
6
5
4
3
2
1